
<!DOCTYPE html>
<html>
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-68393177-2"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-68393177-2');
        </script>


        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>{{TITLE}} - YC Note</title>
        <meta name="description" content="{{DESCRIPTION}}" />
        <link rel="canonical" href="http://www.ycc.idv.tw/">
        <link rel="stylesheet" type="text/css" href="https://dl.dropboxusercontent.com/s/d45d9c4iabsooqz/index.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://dl.dropboxusercontent.com/s/rdtnqem5tm7ccxt/index.js"></script>
        <link rel="icon" type="image/png" href="https://dl.dropboxusercontent.com/s/2h17sqcffmcmvp3/favicon.png">
        <meta name="viewport" content="idth=device-width,initial-scale=1"> 

        <link rel="stylesheet" href="https://dl.dropboxusercontent.com/s/sb7xcxjkoh7ynhk/github.css">
        <script src="https://dl.dropboxusercontent.com/s/ax3xg0lptvafw1k/highlight.pack.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>

    </head>
    <body>
        <div id="header">
            <a href="/"><img src="https://dl.dropboxusercontent.com/s/2h17sqcffmcmvp3/favicon.png" alt="icon" class="icon"/></a>

            <a ><img src="https://dl.dropboxusercontent.com/s/fumka6s5ryq5ufm/ic_menu_white_36pt.png" alt="menu" class="menu"/></a>
            <div id="header_box">
                <a href="/me/" class="header_item">About Me</a> 
                {% for kind,kind_name in KINDS %}
                <a href="/{{kind|lower}}/" class="header_item">{{kind_name}}</a> 
                {% endfor %}                
            </div>
        </div>
        {% block content %}
        {% endblock %}

        <br/><br/>
    </body>
    
</html>