{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}
        <div id="front_board">
            <h1>Coding</h1>
            <h2>Mechine Learning X Algorithm X Python</h2>
            <img src="{% static "welcome/front_board_img.jpg" %}" alt="front board image" />
        </div>
        <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
        First Version Release.
{% endblock %}

