{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}
        <div id="front_board">
            <h1>Living</h1>
            <h2>My Life is Brilliant</h2>
            <img src="{% static "welcome/front_board_img.jpg" %}" alt="front board image" />
        </div>
        <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
        First Version Release.
{% endblock %}

