{% extends 'base.html' %}

{% load post_extras %}
{% block content %}
<div id="front_board">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <img src="{{front_board_img}}" alt="front board image" />
</div>

<div class="container">
    {% if tags %}
    <div class="tag_container">
        {% for tag in tags %}
        <div class="posts_tag">
            <a href="/tag__{{tag}}">{{tag}}</a>
        </div>
        {% endfor %}  
    </div>
    {% endif %}
    {% for post in posts %}
    <div id="PostID{{post.pk}}" style="padding-top: 5px;"> </div>
    <div  class="post-wrapper">
        <div class="post">
            <div class="post-heading">
                <h2 class="title">
                    <a href="/YCNote/post/{{post.pk}}">
                        {{post.title}}
                    </a>
                </h2>
                <div class="info">
                   <span class="date">
                        Post: {{post.post_time|date:"Y/m/d"}}&nbsp; 
                    </span>
                    <span class="author">
                        Author: {{post.author}}&nbsp;
                    </span>
                </div>
            </div>
            <div class="post-content">
                {{post.content | cut_post_content | safe}}
            </div> 
            <div class="posts-footer">
                <a class="read-more" href="/YCNote/post/{{post.pk}}">
                        more
                </a>
            </div>
        </div>
    </div>
    {% endfor %}

    <div class="num_container">
        <div class="posts_num">
            <a href="{{page_info.main}}1"><<</a>
        </div>

        {% for i in page_info.all_page %}
        {% if i == page_info.now_page %}
        <div class="posts_num">
            <a href="">Now</a>
        </div>
        {% else %}
        <div class="posts_num">
            <a href="{{page_info.main}}{{i}}">{{i}}</a>
        </div>
        {% endif %}
        {% endfor %}

        <div class="posts_num" style="float:right;">
            <a href="{{page_info.main}}{{page_info.max_page}}">>></a>
        </div>        
    </div>
</div>
{% endblock %}

