{% extends 'base.html' %}

{% load post_extras %}
{% block content %}
<div id="post_front_board">
    {% if post.front_board %}
    <img src="{{post.front_board}}" alt="post front board image"/>
    {% else %}
    <img src="https://dl.dropboxusercontent.com/s/1j910ymg4hnxxqi/welcome_front_board.jpg" alt="post front board image"/>   
    {% endif %} 
</div>
<div class="container">

    <div class="post">
        <div class="post-heading">
            <h2 class="title">
                {{post.title}}
            </h2>
            <div class="info">
               <span class="date">
                    Post: {{post.post_time|date:"Y/m/d"}}&nbsp; 
                </span>
                <span class="author">
                    Author: {{post.author}}&nbsp;
                </span>
                {% if posts_tag %}
                <span class="info_tag">
                    Tag: {% for tag, posts_ in posts_tag.items %}<a href="/tag__{{tag}}/">{{tag}}</a>, {% endfor %}
                </span>
                {% endif %}
            </div>
        </div>
        <div class="post-content">
            {{post.content | safe}}
        </div> 
        <div class="post-footer">
            {% if posts_tag %}
            {% for tag, posts_ in posts_tag.items %}
            <div class="post-footer-tags">
                {% if posts_ %}

                <strong><a href="/tag__{{tag}}/">[Tag] {{tag}}</a></strong>
                <ul>
                    {% for post_ in posts_ %}
                    {% if post_.pk == post.pk %}
                    <li>{{post_.title}}</li>
                    {% else %}
                    <li><a href="/YCNote/post/{{post_.pk}}">{{post_.title}}</a></li>
                    {% endif %}
                    {% endfor %}
                </ul>

                {% endif %}
            </div>
            {% endfor %}
            {% endif %}

            {% load disqus_tags %}
            {% set_disqus_title post.title %}
            {% set_disqus_identifier "post/" post.pk|stringformat:"i" %}
            {% disqus_show_comments "ycnote" %}
            {% set_disqus_url "http://www.ycc.idv.tw/YCNote/post/" post.pk|stringformat:"i" %}
            {% disqus_recent_comments "ycnote" 5 50 0 24 %}
            
        </div>

    </div>

</div>
{% endblock %}

