{% extends 'base.html' %}

{% load post_extras %}
{% block content %}
<div id="post_front_board">
    {% if post.front_board %}
    <img src="{{post.front_board}}" alt="post front board image"/>
    {% else %}
    <img src="https://dl.dropboxusercontent.com/s/1j910ymg4hnxxqi/welcome_front_board.jpg" alt="post front board image"/>   
    {% endif %} 
</div>
<div class="container">

    <div class="post">
        <div class="post-heading">
            <h2 class="title">
                {{post.title}}
            </h2>
            <div class="info">
               <span class="date">
                    Post: {{post.post_time|date:"Y/m/d"}}&nbsp; 
                </span>
                <span class="author">
                    Author: {{post.author}}&nbsp;
                </span>
            </div>
        </div>
        <div class="post-content">
            {{post.content | safe}}
        </div> 
        <div class="post-footer">
            {% if posts_tag %}
            {% for tag, posts_ in posts_tag.items %}
            <div class="post-footer-tags">
                {% if posts_ %}

                <strong><a href="/tag__{{tag}}/">[Tag] {{tag}}</a></strong>
                <ul>
                    {% for post_ in posts_ %}
                    {% if post_.pk == post.pk %}
                    <li>{{post_.title}}</li>
                    {% else %}
                    <li><a href="/YCNote/post/{{post_.pk}}">{{post_.title}}</a></li>
                    {% endif %}
                    {% endfor %}
                </ul>

                {% endif %}
            </div>
            {% endfor %}
            {% endif %}

            <div id="disqus_thread"></div>
            {% csrf_token %}
            <script>
            /**
            *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
            
            var disqus_config = function () {
                this.page.url = 'http://www.ycc.idv.tw/YCNote/post/{{post.pk}}';  // Replace PAGE_URL with your page's canonical URL variable
                this.page.identifier = jQuery("[name=csrfmiddlewaretoken]").val(); // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            
            (function() { // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');
                s.src = 'https://ycnote.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                            
            
        </div>

    </div>

</div>
{% endblock %}

