{% extends 'base.html' %}

{% block content %}
        <div id="front_board">
            <h1>YC Note</h1>
            <h2>想像力比知識更重要</h2>
            <img src="https://dl.dropboxusercontent.com/s/1j910ymg4hnxxqi/welcome_front_board.jpg" alt="front board image" />
        </div>
        <div class="sub_board">
            <div class="textbox">               
                <h1><a href="/me/">About Me</a></h1>
                <h2>Hi, I am YC.</h2>
            </div>
            <img src="https://dl.dropboxusercontent.com/s/aahvzock2aijs6q/me_front_board.jpg" alt="front board image" />
        </div>
        <div class="sub_board">
            <div class="textbox">
                <h1><a href="/coding/">Coding</a></h1>
                {% for post in coding_tops %}
                <h2><a href="/coding#PostID{{post.pk}}">{{post.title}}</a></h2>
                <div style="visibility: hidden;">{{post.content}}</div>
                {% endfor %}
            </div>
            <img src="https://dl.dropboxusercontent.com/s/21l1n4gii0t50bj/coding_front_board.jpg" />
        </div>
        <div class="sub_board">
            <div class="textbox">
                <h1><a href="/reading/">Reading</a></h1>
                {% for post in reading_tops %}
                <h2><a href="/reading#PostID{{post.pk}}">{{post.title}}</a></h2>
                <div style="visibility: hidden;">{{post.content}}</div>
                {% endfor %}
            </div>
            <img src="https://dl.dropboxusercontent.com/s/6g1hdd1e3vak32o/reading_front_board.jpg" alt="front board image" />
        </div>
        <div class="sub_board">
            <div class="textbox">
                <h1><a href="/living/">Living</a></h1>
                {% for post in living_tops %}
                <h2><a href="/living#PostID{{post.pk}}">{{post.title}}</a></h2>
                <div style="visibility: hidden;">{{post.content}}</div>
                {% endfor %}
            </div>
            <img src="https://dl.dropboxusercontent.com/s/98tsgzu2pv2j65h/living_front_board.jpg" alt="front board image" />
        </div>
{% endblock %}

