{% extends 'base.html' %}

{% block content %}
        <div id="front_board">
            <h1>YC Note</h1>
            <h2>想像力比知識更重要</h2>
            <img src="https://dl.dropboxusercontent.com/s/1j910ymg4hnxxqi/welcome_front_board.jpg" alt="front board image" />
        </div>


<div class="container">

            
    <br/>
    <h2>
        系列主題
    </h2>  

    <ul>
        {% for tag in all_tag %}
        <li><h4><a href="/tag__{{tag}}">{{tag}}</a></h4></li>
        {% endfor %}
    </ul>
    
    <br/>
    <h2>
        近期文章
    </h2>
    {% for post in recent_posts %}
    <h5 style="margin-bottom:5px;text-decoration: underline;">{{post.kind}}</h5>
    <h4 style="margin-top:5px;">&nbsp;<a href="/YCNote/post/{{post.pk}}">{{post.title}}</a></h4>
    <div style="visibility: hidden;overflow: hidden;height: 0;">{{post.content}}</div>
    {% endfor %}


</div>
{% endblock %}

